#User Id
User.Id = user


#IUser rmi service exposed to Apps
User.Service = userdaemon


#User.USBPath = D:\\RA\\ProtoType\\userUSB\\
User.USBPath = E:\\data\\userUSB\\

User.StatusFile = E:\\data\\user\\status.cfg
User.ConfigurationFile = E:\\data\\user\\configuration.cfg

User.Directory.path = E:\\data\\user\\downloads\\
#User.Directory.path = E:\\ishani\\ContentBasedNetwork\\user1\\downloads\\

#user's port number for client connection 
User.NetworkStack.Port = 4582

#information for data connection
User.Custodian.DataConnection.Server = mycustodian
User.Custodian.DataConnection.Port = 4581

#information for rmi connection
User.Custodian.IP = mycustodian
User.Custodian.Service = custodian

#maximum file downloads for User
User.MaximumDownloads = 40

NetworkStack.Scheduler.ConnectionPoolSize = 20
NetworkStack.SendingScheduler.QueueSize = 20
NetworkStack.ListeningScheduler.QueueSize = 20
NetworkStack.SegmentSize = 10240

Routing.allowDTN = 1
DTN.Router.StatusFile = status.cfg
DTN.Router.ConfigFile = CDN.cfg